<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <span class="navbar-brand mb-0 h1" style="margin-left: 2.5%; font-size:50px;">Netflix backend</span>
    </nav>
    <div style="display:flex; 
    flex-direction: column;">
        <a href="/allentries" type="button" class="btn btn-outline-dark" style="margin-left: 8%; margin-right:5%; margin-top:2%; height:50px; font-size: 20px;">See all entries</a>
        <a href="/genre" type="button" class="btn btn-outline-dark" style="margin-left: 8%; margin-right:5%; margin-top:2%; height:50px; font-size: 20px;">Filter entries by genre</a>
        <a href="/specentries" type="button" class="btn btn-outline-dark" style="margin-left: 8%; margin-right:5%; margin-top:2%; height:50px; font-size: 20px;">Search for an entry</a>
        <a href="/" type="button" class="btn btn-outline-dark" style="margin-left: 8%; margin-right:5%; margin-top:2%; height:50px; font-size: 20px; margin-bottom: 2.5%;">Back</a>
    </div>
</body>
</html>